<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">Card Header</div>
                <div class="card-body">
                    <!-- <ul>
                        <li>Warrior</li>
                        <li>Laker</li>
                        <li>Heat</li>
                    </ul> -->
                    <ul id="test" class="list-group list-group-flush">
                        <li class="list-group-item">Warrior</li>
                        <li class="list-group-item">Laker</li>
                        <li class="list-group-item">Heat</li>
                    </ul>
                </div>
                <div class="card-footer">Card footer</div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<!-- <script src="choose_class.js"></script> -->
<!-- <script>
    let test = document.querySelector('#test')
    test.addEventListener('mouseover', (event) => {
        // console.log(event.target.textContent)
        event.target.style.background = 'grey'
    })
    test.addEventListener('mouseout', (event) => {
        event.target.style.background = 'white'
    })

    test.addEventListener('click', (event) => {
        // console.log(event.target.textContent)
        // let team = event.target.textContent
        let team = event.target
        let choice = new SelectClass(team)
        choice.question()
        // console.log(choice)
    })
</script> -->
